[submodule "workspace/src/multi_robot_costmap_plugin"]
	path = workspace/src/multi_robot_costmap_plugin
	url = https://github.com/FilippoGuarda/multi_robot_costmap_plugin.git
[submodule "workspace/src/SMrTa"]
	path = workspace/src/SMrTa
	url = https://github.com/FilippoGuarda/SMrTa.git
[submodule "workspace/src/mppi_multi_robot_critic"]
	path = workspace/src/mppi_multi_robot_critic
	url = https://github.com/FilippoGuarda/mppi_multi_robot_critic.git
[submodule "workspace/src/topological_graph_node"]
	path = workspace/src/topological_graph_node
	url = https://github.com/FilippoGuarda/topological_graph_node.git
