[submodule "workspace/src/multi_robot_costmap_plugin"]
	path = workspace/src/multi_robot_costmap_plugin
	url = https://github.com/FilippoGuarda/multi_robot_costmap_plugin.git
[submodule "workspace/src/SMrTa"]
	path = workspace/src/SMrTa
	url = https://github.com/FilippoGuarda/SMrTa.git
[submodule "workspace/src/mppi_multi_robot_critic"]
	path = workspace/src/mppi_multi_robot_critic
	url = https://github.com/FilippoGuarda/mppi_multi_robot_critic.git
[submodule "workspace/src/graph_generator_node"]
	path = workspace/src/graph_generator_node
	url = https://github.com/FilippoGuarda/graph_generator_node.git
[submodule "workspace/src/extended_spades"]
	path = workspace/src/extended_spades
	url = https://github.com/FilippoGuarda/extended_spades.git
